@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.flex-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mate SC', serif;
    font-size: 20px;
}
.btn{
    background-color:brown;
    color:white;
    border-radius: 2px;
    cursor: pointer;
}
.btn:hover{
    
    color: rgb(84, 221, 21);
    font-weight:bolder;
}